

<div class="cir">
  <img src= "https://i.ibb.co/bdrfzS1/FB-IMG-1594227170069.jpg" alt="FB-IMG-1594227170069"/>
</div>
<h1>Rajesh Saharan</h1>

<ul class="social-buttons" id="demo2">
  <li>
    <a href="#" class="fa fa-twitter"></a>
  </li>
  <li>
    <a href="#" class="fa fa-facebook"></a>
  </li>
  <li>
    <a href="#" class="fa fa-instagram"></a>
  </li><li>
    <a href="#" class="fa fa-vimeo"></a>
  </li>
  <li>
    <a href="#" class="fa fa-linkedin"></a>
  </li>
</ul>

<p class="card"> Hello my name is Rajesh Saharan from india </p>

   
    <div class="card">
    
    
    <h1> My project first </h1>
    <p> there are some base of this project </p>
    <i style=" font-size:20px; color: #6E4B73" class="fa fa-github"> Code Access</i>
    
    </div>
 </br>
 
   
