body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
       
        
}

/* Aside */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.fa-2x {
    font-size: 2rem;
}
.fa {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    margin:3px;
}
.fa-3x{
font-size: 18px;
}

div.scrollmenu {
  background-color: #6E4B73;
  overflow-x: scroll;
  overflow-y: hide;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
 transition: 600ms 3s;
  
  
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  border-top: 1px solid #6E4B73;
  border-right: 1px solid white;
  border-radius: 5px;
  transition: opacity 2.5s 3s, left 600ms 3s, top 1.5s 3s;
  
}

div.scrollmenu a:hover {
  background-color: white;
  color: #6E4B73;
 
}



footer {
	text-align: center;
	padding: 40px;
}
